[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = black_and_light-repo:Landflier/hugo-black-and-light-theme.git
[submodule "hugo-black-and-light-theme"]
	path = hugo-black-and-light-theme
	url = git@github.com:Landflier/hugo-black-and-light-theme.git
